.main-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.main-title {
    font-size: 100px;
    font-weight: 900;
    color: var(--main-color);
}

.main-description {
    font-size: 20px;
    font-weight: 500;
    color: var(--subtext-color);
}

.main-button {
    width: 100%;
    display: flex;
    border: none;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    border-radius: 25px;
    color: var(--white-color);
    background: var(--main-color);
    box-shadow: 7px 5px 43px 3px var(--main-color);
}

.main-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    background-color: var(--main-color);
    padding-top: 4em;
    margin-bottom: 10em;
}

.info-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: var(--white-color);
}

.info-card h2 {
    margin-bottom: 40px;
    border-bottom: var(--white-color) solid 1.5px;
}

.info-card p {
    font-size: 20px;
    text-align: center;
}

@media (max-width: 950px) {
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 100px;
    }

    .main-title {
        font-size: 60px;
        text-align: center;
        padding: 25px;
    }

    .main-description {
        font-size: 18px;
        text-align: center;
        padding: 15px;
    }

    .main-cards {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
    }
}